@use '../themes/default-theme' as v;

.slideshow {
    padding: 1.2rem;

    &__container {
        max-width: 1000px;
        margin: auto;
        position: relative;
        box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.54);
        -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.54);
        -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.54);
    }

    &__slide {
        display: none;

        &--fade {
            animation-name: fade;
            animation-duration: 2.5s;
        }
    }

    &__image {
        width: 100%;
    }

    &__number {
        color: v.$color-wfont;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    &__caption {
        background-color: v.$color-secondary-alpha;
        color: v.$color-wfont;
        font-size: 18px;
        padding: 10px 0px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
    }

    &__nav {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: v.$color-wfont;
        background-color: v.$color-main-alpha;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        border: none;

        &:hover {
            background-color: v.$color-secondary-alpha;
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
    }

    &__indicators {
        text-align: center;
        padding: 15px 0;
    }

    &__dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: v.$color-main;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &:hover,
        &--active {
            background-color: v.$color-secondary;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {

    .slideshow__nav,
    .slideshow__caption {
        font-size: 11px;
    }
}