/* ESTILOS GENERALES */

html,
body {
    height: 100%;
}

body {
    text-align: center;
    background-color: #B2B0E8;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: #3B38A0;
    font-weight: 500;
    padding: 1rem 0rem;
    font-family: "Jersey 10", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: #3B38A0;
    font-weight: 200;
    padding: 1rem 0rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.3rem;
}