//PALETA DE COLOR DEFAULT

$color-main:#3B38A0;
$color-secondary:#1A2A80;
$color-tertiary:#7A85C1;
$color-fourth:#B2B0E8;
$color-wfont:#EEEEEE;


$color-secondary-alpha:rgba(26, 42, 128, 0.8);
$color-main-alpha: rgba(59, 56, 160, 0.8);