//IMPORTACIÓN BASES
@import "base/typography.scss";
@import "base/reset.scss";
@import "base/base.scss";

//IMPORTACIÓN LAYOUTS

@import "layouts/header.scss";
@import "layouts/main-container.scss";
@import "layouts/footer.scss";

