@use '../themes/default-theme' as v;


.footer {
    background-color: v.$color-secondary; 
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;

    &__fonts {
        color: v.$color-fourth;
    }
}