/* ESTILOS HEADER */

@use '../themes/default-theme' as v;

.header {
    background-color: v.$color-secondary;
    font-size: 3rem;
    text-align: center;

    &__title {
        padding: 2rem;
        color: v.$color-wfont;

    }
}
