/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @use '../themes/default-theme' as v;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\base\_typography.scss 1:1  @import
 *   assets\scss\styles.scss 2:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @use '../themes/default-theme' as v;\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\base\\_typography.scss 1:1  @import\a   assets\\scss\\styles.scss 2:9            root stylesheet";
}
